/* src/index.css */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #1e1e1e; 
}

*, *::before, *::after {
  box-sizing: inherit;
}